.app-info {
  position: absolute;
  width: 5rem;
  height: 5rem;
  padding: 1rem 0 0 1rem;
  z-index: 99;
  background-color: none;
  top: 0;
  left: 0;

  @media only screen and (min-width: 640px) {
    width: 8rem;
    height: 8rem;
    padding: 1rem 0 0 1rem;
    top: 1rem;
    left: 1rem;
  }

  img {
    height: 2.5rem;
    @media only screen and (min-width: 640px) {
      height: 6rem;
    }
  }
}