$map-padding-sides: 1rem;

.app-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem;
  background-color: $white;
  z-index: 99;
  top: 0;

  @media only screen and (min-width: 640px) {
    height: 4rem;
    padding: 1rem 1rem 0;
    background-color: rgba(0, 0, 0, 0);
  }

  img {
    width: 5rem;
    @media only screen and (min-width: 640px) {
      width: 6rem;
    }
  }
}