.button {
  border-radius: $border-radius;
  border: none;
  background-color: $white;
  padding: .25rem 1rem;
  color: $primary-color-1;
  box-shadow: 1px 1px 28px -9px rgba(34,124,157,0.75);
  -webkit-box-shadow: 1px 1px 28px -9px rgba(34,124,157,0.75);
  -moz-box-shadow: 1px 1px 28px -9px rgba(34,124,157,0.75);
  cursor: pointer;
}