.marker {
  background-image: url('../../assets/circle.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.app-nav {
  height: 2.5rem;
  background-color: #fff;
  color: $gray-1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  @media only screen and (min-width: 1024px) {
    display: none;
    &--map {
      display: block;
      top: 9.5rem;
      left: 2rem;
      width: 7.25rem;
      border-radius: 4px;
      opacity: .8;
      .hide-large {
        display: none;
      }
    }
  }
  ul {
    width: 100%;
    height: 2.5rem;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    width: 49%;
    height: 2.5rem;
    font-size: .75rem;
    @media only screen and (min-width: 1024px) {
      width: 100%;
    }
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
    svg {
      display: inline-block;
      margin-right: .5rem;
    }
    span {
      display: inline-block;
    }
  }
}