// Colors
$primary-color-1: #227c9d;
$primary-color-2: #ffcb77;
$primary-color-3: #fe6d73;

$secondary-color-1: #abdf75;
$secondary-color-2: #d8f3ee;

$white: #fff;

$gray-1: #777;
$gray-2: #ECECEC;
$black: #1f2421;

// SIZES
$map-height: 100vh;