// Colors
$primary-color-1: #227c9d;
$primary-color-2: #ffcb77;
$primary-color-3: #fe6d73;

$secondary-color-1: #abdf75;
$secondary-color-2: #d8f3ee;

$white: #fff;

$gray-1: #777;
$gray-2: #ECECEC;
$black: #1f2421;

// Text
$font-size-larger: 2.369rem;
$font-size-large: 1.777rem;
$font-size-medium: 1.333rem;
$font-size-normal: 1rem;
$font-size-small: 0.875rem;
$letter-spacing-small: 0.05rem;

// Sizes
$map-height: 100vh;

// Border-radius
$border-radius: 6px;