.wrapper {
  height: 100%;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
}
#map,
.mapboxgl-marker {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  top: 0;
  height: calc(100% - 2.5rem);
  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.mapboxgl-canvas-container {
  height: calc(100vh - 2.5rem);
  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.mapboxgl-popup .mapboxgl-popup-content {
  padding: 0;
  @media only screen and (min-width: 640px) {
    width: 20rem;
  }
  .popup__top {
    padding-bottom: .5rem;
  }
}

.mapboxgl-map .mapboxgl-popup {
  opacity: .85;
}

.mapboxgl-map .popup {
  &__top {
    opacity: 1;
    padding: 0;
  }
  &__city {
    font-size: $font-size-normal;
    font-weight: 300;
    color: $black;
    padding: 1rem 1.5rem .5rem 1rem;
    letter-spacing: .01rem;
  }
  &__city-name {
    font-size: $font-size-normal;
    letter-spacing: $letter-spacing-xsmall;
    font-weight: 700;
    color: $primary-color-1;
    padding: .75rem 1.5rem .5rem 1rem;
    margin-bottom: 0;
    margin-top: .25rem;
    border-top: 1px solid $gray-2;
  }
  &__words {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    letter-spacing: .02rem;
    padding: 0 1.5rem 0 1rem;
  }
  &__left {
    display: inline-block;
    min-width: 5rem;
  }
  &__word-tupi {
    display: inline-block;
    align-self: flex-start;
    font-size: $font-size-small;;
    font-weight: 400;
    color: $black;
    margin-bottom: .5rem;
  }
  &__word-pt {
    display: inline-block;
    font-size: .875rem;
    font-weight: 300;
    color: $gray-1;
    padding-left: .5rem;
    margin-bottom: .5rem;
  }
}