.onboarding {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: 1rem;

    @media only screen and (min-width: 640px) {
      width: 550px;
      height: auto;
      padding: 2rem;
    }

    @media only screen and (min-width: 1024px) {
      width: 800px;
      height: auto;
      padding: 2rem;
    }
  }

  &__close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    cursor: pointer;

    img {
      width: 1rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  &__title {
    text-align: center;
  }
}