// Colors
$primary-color-1: #075b4c;
$primary-color-2: #f5853f;
$primary-color-3: #643173;

$secondary-color-1: #abdf75;
$secondary-color-2: #d8f3ee;

$white: #f3eff5;

$gray-1: #777;
$gray-1: #ECECEC;
$black: #000;

// SIZES
$map-height: 100vh;