.wrapper {
  height: 100%;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
}
#map,
.mapboxgl-marker {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  top: 0;
  height: calc(100vh - 2.5rem);
  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.mapboxgl-canvas-container {
  height: calc(100vh - 2.5rem);
  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.mapboxgl-popup .mapboxgl-popup-content {
  padding: 0;
}

.mapboxgl-map .mapboxgl-popup {
  opacity: .85;
}

.mapboxgl-map .popup {
  &--top {
    opacity: 1;
    padding: 1rem 2rem 0 1rem;
  }
  &--city {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: $gray-1;
  }
  &--pt {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: $primary-color-3;
  }
  &--tupi-word {
    padding: 1rem 1rem 0;
    background-color: $white;
    .tupi {
      width: 40%;
      min-width: 10rem;
      display: inline-block;
      p {
        display: inline-block;
        font-size: .875rem;
        color: $primary-color-1;
        font-weight: 400;
        background-color: $secondary-color-1;
        border-radius: 50px;
        padding: .25rem .5rem;
      }
    }
    .pt {
      width: 60%;
      min-width: 12rem;
      display: inline-block;
      font-size: .875rem;
      color: $gray-1;
      font-weight: 400;
    }
  }
}