.map {
  height: 100%;
  width: 100%;
}
#map,
.mapboxgl-marker {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  @media only screen and (min-width: 1024px) {
    top: 0;
  }
}

.mapboxgl-canvas-container {
  height: 100vh;
}

.mapboxgl-popup.mapboxgl-popup-anchor-bottom {
  opacity: .8;
}

.mapboxgl-map .popup {
  font-size: 14px;
  color: #075b4c;
  &--city {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
  }
  &--state {
    display: inline-block;
    padding-left: .5rem;
    font-weight: 300;
  }
  &--pt {
    margin-bottom: 1rem;
    color: #eb3b0f;
  }
  &--source {
    font-size: 10px;
    font-weight: 700;
  }
}