.wrapper {
  height: 100%;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
}
#map,
.mapboxgl-marker {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  top: 0;
  height: calc(100% - 2.5rem);
  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.mapboxgl-canvas-container {
  height: calc(100vh - 2.5rem);
  @media only screen and (min-width: 1024px) {
    height: 100vh;
  }
}

.mapboxgl-popup .mapboxgl-popup-content {
  padding: 0;
}

.mapboxgl-map .mapboxgl-popup {
  opacity: .85;
}

.mapboxgl-map .popup {
  &__top {
    opacity: 1;
    padding: 1rem 1.5rem 0 1rem;
  }
  &__item {
    padding-bottom: .5rem;
  }
  &__city {
    font-size: 1rem;
    font-weight: 700;
    color: $gray-1;
  }
  &__city-name {
    font-size: .875rem;
    letter-spacing: .05rem;
    font-weight: 700;
    color: $primary-color-3;
    margin-bottom: .5rem;
  }
  &__word-tupi {
    display: inline-block;
    font-size: .875rem;
    font-weight: 300;
    color: $primary-color-1;
    background-color: $secondary-color-1;
    padding: .25rem .5rem;
    border-radius: 30px;
    margin-bottom: .5rem;
  }
  &__word-pt {
    display: inline-block;
    font-size: .875rem;
    font-weight: 300;
    color: $gray-1;
    padding-left: .5rem;
    margin-bottom: .5rem;
  }
}