.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 1024px) {
    flex-direction: row;
    height: 100%;
  }
}

.tab-content--desktop {
  @media only screen and (min-width: 1024px) {
    width: 100%;
  }
}

.panel {
  padding: 1rem;
  @media only screen and (min-width: 1024px) {
    width: 32rem;
    padding: 1.5rem;
  }
}

