.marker {
  background-image: url('../../assets/circle.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.app-nav {
  height: 2.5rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  @media only screen and (min-width: 1024px) {
    top: 5rem;
    left: 1rem;
    width: 24rem;
    border-radius: 4px;
  }
  ul {
    width: 100%;
    height: 2.5rem;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    width: 32%;
    height: 2.5rem;
    font-size: .75rem;
    padding-left: .5rem;
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
    img {
      display: inline-block;
      margin-right: .5rem;
    }
    span {
      display: inline-block;
    }
  }
}